.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav {
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.nav a {
  margin-left: 2rem;
  margin-right: 3rem;
  text-decoration: none;
}